<div class = "fondo">
    <footer class="footer">
        <div class="container text-center">
            <a  href="#" class = "efecto_mouse"><img src="../../../assets/logos_header/facebook.png" height="60px" class = "redesSociales"></a>
            <a  href="#" class = "efecto_mouse"><img src="../../../assets/logos_header/instagram.png" height="60px" class = "redesSociales"></a>
            <a  href="#" class = "efecto_mouse"><img src="../../../assets/logos_header/twitter.png" height="60px" class = "redesSociales"></a>
            <a  href="#" class = "efecto_mouse"><img src="../../../assets/logos_header/github.png" height="60px" class = "redesSociales"></a>
            <a  href="#" class = "efecto_mouse"><img src="../../../assets/logos_header/linkedin.png" height="60px" class = "redesSociales"></a>
        </div>
        <p></p>
        <div class="text-center text-muted">
            <p>&copy; All rights reserved.</p>
        </div>
    </footer>
</div>
