<!--
<div class = "row">
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12 text-center"></div>
    <div class="card mb-3 col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12 text-center">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
-->

<div class="section" id="about">
    <div class="container ">
        <div class="card" data-aos="fade-in">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About Me</div>
                            <p align="justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, laboriosam. Voluptatibus reiciendis cum ducimus fugit totam unde enim praesentium asperiores aliquam optio numquam non corrupti, quibusdam ullam suscipit itaque atque.</p>
                            <p align="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde at, quia reprehenderit officia, et tenetur numquam enim quidem animi expedita reiciendis dolor, commodi qui quaerat eius. Quasi explicabo neque pariatur!</p>
                            <p align="justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae vero, dicta illum veritatis ad delectus ipsa impedit nisi enim reprehenderit sunt mollitia, est quasi corporis voluptates alias accusamus dolores ex?</p>
                    </div>
                </div>    
                <div class="col-lg-6 col-md-12">       
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date of Birth:</strong>
                            </div>
                            <div class="col-sm-8">June 14, 1994</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">punithraaj14@gmail</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Mobile No:</strong>
                            </div>
                            <div class="col-sm-8">8088041006</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Address:</strong>
                            </div>
                            <div class="col-sm-8">#397 ashoka road vidyanagr Hassan</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Language:</strong>
                            </div>
                            <div class="col-sm-8">Kannada, English, Hindi, Telugu</div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>


